body {
    background-color: black;
    color: white;
}

.container {
    /* border:2px solid red; */
    width: 80%;
    margin: auto;
    background-color: rgba(48, 46, 46, 0.815);
    border-radius: 20px;

}

.heading {

    font-family: 'Lobster', cursive;
}

#title {
    font-size: 90px;
    text-align: center;
}

#span {
    color: red;
}

#image {
    width: 400px;
    border-radius: 40px;
    box-shadow: 5px 5px 500px red;
}

#img-div {

    text-align: center;
}

#info {
    width: 80%;
    margin: auto;
    text-align: justify;

}

#marvel {
    color: red;
    width:80%;
    margin: auto;
}

ul{
    width: 80%;
    margin: auto;
    
}

#footer{
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}


#link{
    border: 2px solid darkorange;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    background-color: black;
}


